*.class
*.log
*.py[cod]
__pycache__/
.venv/
.ivy2/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Spark Data and Metadata
spark-warehouse/
checkpoints/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/metastore_db/
dbt/.user.yml
dbt_modules/
profiles.yml
