version: '3.8'

services:
  spark-master-4.0.1-comet:
    image: docker.io/spark:4.0.1-scala2.13-java21-python3-ubuntu
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./data:/data
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark
      - |
        SPARK_MASTER_OPTS=
        --conf spark.driver.extraClassPath=/opt/spark/jars/comet-spark-spark4.0_2.13-0.11.0.jar
        --conf spark.executor.extraClassPath=/opt/spark/jars/comet-spark-spark4.0_2.13-0.11.0.jar
        --conf spark.plugins=org.apache.spark.CometPlugin
        --conf spark.shuffle.manager=org.apache.spark.sql.comet.execution.shuffle.CometShuffleManager
        --conf spark.comet.explainFallback.enabled=true
        --conf spark.memory.offHeap.enabled=true
        --conf spark.memory.offHeap.size=16g

  spark-worker-4.0.1-comet:
    image: docker.io/spark:4.0.1-scala2.13-java21-python3-ubuntu
    depends_on:
      - spark-master-4.0.1-comet
    ports:
      - "8081:8080"
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master-4.0.1-comet:7077
      - SPARK_WORKER_MEMORY=4g
      - SPARK_WORKER_CORES=2
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark
    volumes:
      - ./data:/data

  spark-master-4.1.0:
    image: apache/spark:4.1.0-java17
    ports:
      - "8082:8080"
      - "7078:7077"
    volumes:
      - ./data:/data
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark

  spark-worker-4.1.0:
    image: apache/spark:4.1.0-java17
    depends_on:
      - spark-master-4.1.0
    ports:
      - "8083:8080"
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master-4.1.0:7078
      - SPARK_WORKER_MEMORY=4g
      - SPARK_WORKER_CORES=2
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
      - SPARK_USER=spark
    volumes:
      - ./data:/data

  jupyterlab:
    build:
      context: .
      dockerfile: docker/jupyter/Dockerfile
    image: sparkling/jupyterlab:latest
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/opt/notebooks
