services:
  spark-master:
    build:
      context: .
      dockerfile: Dockerfile.spark
    image: spark-4.1.1-uv:latest
    container_name: spark-master
    hostname: spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master"]
    ports:
      - "8080:8080"   # Spark Master Web UI
      - "7077:7077"   # Spark Master port
    networks:
      - spark-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 10s
      retries: 5

  spark-worker:
    image: spark-4.1.1-uv:latest
    container_name: spark-worker
    hostname: spark-worker
    depends_on:
      - spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
    ports:
      - "8081:8081"   # Spark Worker Web UI
    networks:
      - spark-network

  spark-app:
    image: spark-4.1.1-uv:latest
    container_name: spark-app
    hostname: spark-app
    depends_on:
      spark-master:
        condition: service_healthy
    environment:
      - SPARK_APPLICATION_SCRIPT=/app/hello_spark.py
    command: >
      /bin/bash -c "
      /opt/spark/bin/spark-submit
      --master spark://spark-master:7077
      $${SPARK_APPLICATION_SCRIPT}
      "
    volumes:
      - ./src:/app
      - ./data:/data
    networks:
      - spark-network

networks:
  spark-network:
    driver: bridge